@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
body {
  background: rgb(9, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 123, 255, 1) 100%
  );
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  font-family: "Roboto", sans-serif;
}

.container {
  background: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.App h1 {
  text-align: center;
}

.App span {
  transition: color 1s ease;
}

.form-label {
  font-weight: 500;
}

.result {
  color: #007bff;
  font-weight: bold;
}

.invalidResult {
  color: #dc3545;
  font-weight: bold;
  font-style: italic;
}

.btn {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: 5px;
}

footer {
  margin-top: 1rem;
  text-align: center;
}
